<!DOCTYPE html>
<html lang=”en” xmlns:th=”http://www.thymeleaf.org”>
<head>
<meta charset="UTF-8">
<title>ex02</title>
</head>
<body>
	<!-- 조건문
	if -> th:if="${}", else -> th:unless="${}"  -->
	
	<table border="1">
	<!-- 조건이 참일 때 렌더링 된다. -->
		<tr th:if="${list.size()} != 0">
			<td>게시물이 없습니다.</td>
		</tr>
		<!-- 조건이 참일 때 렌더링을 안한다. -->
		<tr th:unless="${list.size()} != 0">
			<td>게시물이 있습니다.</td>
		</tr>	
	</table>
	<hr>
	<!-- th:switch, th:case
	Java의 switch-case와 동일하다.  -->
	<!-- th:block
	타임리프에서 자체적으로 제공하는 블록태그
	타임리프 특성상 HTML 태그안에 속성으로 기능을 정의하는데
	사용하기 애매한 경우에 사용한다. -->
	<!--th:block대신 div써도됨  -->
	<th:block th:switch="${userNum}">
	<span th:case="1">권한1</span>
	<span th:case="2">권한2</span>
	<!-- case="*" <- 어디에도 속하지 않을 때  -->
	<span th:case="*">권한없음</span>
	</th:block>
	
	<div th:switch="${userNum}">
	<span th:case="1">권한1</span>
	<span th:case="2">권한2</span>
	<!-- case="*" <- 어디에도 속하지 않을 때  -->
	<span th:case="*">권한없음</span>
	</div>
	
	
	
</body>
</html>